.banner {
	/* menu */
	background-color: var(--yellow);
	}
	.container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1rem;
	}
	.header {
	display: flex;
	justify-content: space-between;
	margin: 0 0 6rem 0;
	align-items: center;
	height: 4rem;
	}
	.header__logo {
	/* MOVEE */
	font-weight: 37rem;
	font-size: 2rem;
	line-height: 2.5rem;
	color: var(--gray);
	}
	.header__logo:hover{ 
	color: var(--gray);
	text-decoration:underline;
	font-weight: bold;
	cursor: pointer;
	}
	.header__menu {
	display: flex;
	gap: 2rem;
	}
	.header__link:hover{
	color: var(--red);
	cursor: pointer;
	}
	.header__phone {
	font-weight: 37rem;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: var(--gray);
	text-decoration: underline;
	cursor: pointer;
	}
	.header__phone:hover {
	color: var(--red);
	}
	.header__burger {
	width: 2rem;
	height: 0.125rem;
	background-color: var(--gray);
	position: relative;
	cursor: pointer;
	display: none;
	}
	.header__burger::before {
	content: "";
	position: absolute;
	top: 0.5rem;
	width: 2rem;
	height: 0.125rem;
	background-color: var(--gray);
	cursor: pointer;
	}
	.header__burger::after {
	content: "";
	position: absolute;
	bottom: 0.5rem;
	width: 2rem;
	height: 0.125rem;
	background-color: var(--gray);
	cursor: pointer;
	}
	.banner__content {
	display: flex;
	}
	.banner__column{
	flex: 0 1 50%;
	}
	.banner__maintitle {
	font-weight: bold;
	font-size: 4.3rem;
	line-height: 105.4%;
	color: var(--gray); 
	margin: 0 0 1.7rem 0;
	max-width: 30rem;
	}
	.banner__subtitle {
	font-size: 2rem;
	line-height: 2.3rem;
	color: var(--gray);
	margin: 0 0 3rem 0;
	}
	.banner__buttom {
	display: inline-block;
	background-color: var(--red);
	padding: 1rem 3rem;
	margin: 0 0 3rem 0;
	cursor: pointer;
	color: var(--white);
	}
	.banner__buttom:hover {
	 box-shadow: 0 0 4rem var(--white);
	}
	.banner__icons {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	}
	.banner__icon {
	display: flex;
	align-items: center;
	gap: 1rem;
	}
	.icons__text {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	}
	.banner__man {
	margin: -5rem 0 0 0;
	max-width: 35rem;
	}
	.banner__img {
	width: 100%;
	height: 100%;
	}
	@media (max-width: 1050px) {
	.banner__icons {
	display: block;
	}
	.banner__icon {
	margin: 0 0 2rem 0;
	}
	}
	@media (max-width: 915px) {
	.banner__maintitle {
	font-size: 3.5rem;
	margin: 0 0 1.5rem 0;
	}
		.banner__subtitle {
	font-size: 1.5rem;
	margin: 0 0 3rem 0;
	}
	}
	@media (max-width: 820px) {
	.banner__content {
	display: block;
	}
	.header__menu {
	display: none;
	}
	.header {
	margin: 0 0 2.5rem 0;
	}
	}
	@media (max-width: 482px) {
	.header__phone {
	display: none;
	}
	.banner__maintitle {
	font-size: 2.5rem;
	margin: 0 0 1rem 0;
	}
	.banner__subtitle {
	font-size: 1.2rem;
	margin: 0 0 3rem 0;
	}
	.header {
	margin: 0 0 1rem 0;
	}
	.header__burger {
	display: block;
	}
	}