.banner {
	/* menu */
	background-color: var(--yellow);
	}
	.container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1rem;
	}
	.header {
	display: flex;
	justify-content: space-between;
	margin: 0 0 6rem 0;
	align-items: center;
	height: 4rem;
	}
	.header__logo {
	/* MOVEE */
	font-weight: 37rem;
	font-size: 2rem;
	line-height: 2.5rem;
	color: var(--gray);
	}
	.header__logo:hover{ 
	color: var(--gray);
	text-decoration:underline;
	font-weight: bold;
	cursor: pointer;
	}
	.header__menu {
	display: flex;
	gap: 2rem;
	}
	.header__link:hover{
	color: var(--red);
	cursor: pointer;
	}
	.header__phone {
	font-weight: 37rem;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: var(--gray);
	text-decoration: underline;
	cursor: pointer;
	}
	.header__phone:hover {
	color: var(--red);
	}
	.banner__content {
	display: flex;
	}
	.banner__column{
	flex: 0 1 50%;
	}
	.banner__maintitle {
	font-weight: bold;
	font-size: 4.3rem;
	line-height: 105.4%;
	color: var(--gray); 
	margin: 0 0 1.7rem 0;
	max-width: 30rem;
	}
	.banner__subtitle {
	font-size: 2rem;
	line-height: 2.3rem;
	color: var(--gray);
	margin: 0 0 3rem 0;
	}
	.banner__buttom {
	display: inline-block;
	background-color: var(--red);
	padding: 1rem 3rem;
	margin: 0 0 3rem 0;
	cursor: pointer;
	color: var(--white);
	}
	.banner__buttom:hover {
	 box-shadow: 0 0 4rem var(--white);
	}
	.banner__icons {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	}
	.banner__icon {
	display: flex;
	align-items: center;
	gap: 1rem;
	}
	.icons__text {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	}
	.banner__man {
	margin: -5rem 0 0 0;
	max-width: 35rem;
	}
	.banner__img {
	width: 100%;
	height: 100%;
	}
	@media (max-width: 1050px) {
	.banner__icons {
	display: block;
	}
	.banner__icon {
	margin: 0 0 2rem 0;
	}
	}
	@media (max-width: 915px) {
	.banner__maintitle {
	font-size: 3.5rem;
	margin: 0 0 1.5rem 0;
	}
	.banner__subtitle {
	font-size: 1.5rem;
	margin: 0 0 3rem 0;
	}
	}
	@media (max-width: 820px) {
	.banner__content {
	display: none;
	}
	.header__phone {
		display: none;
		}
	.header__menu {
	flex-direction: column;
	position: fixed;
	left: -80%;
	top: 0rem;
	background-color: var(--yellow);
	transition: 3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	}
	.header__menu.active {
	left: 0;
	width: 100%;
	padding: 1rem 2rem;
	
	}
	.header {
	margin: 0 0 2.5rem 0;
	}
	.header__burger {
		width: 3rem;
		height: 3rem;
		background-color: var(--gray);
		position: absolute;
		cursor: pointer;
		display: none;
		right: 0.5rem;
		top: 0.5rem;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		}
		.header__burger .line, 
		.header__burger .line::after,
		.header__burger .line::before {
			display: inline-block;
			background-color: var(--white);
			height: 4px;
			transition: .3s;
			-webkit-transition: .3s;
			-moz-transition: .3s;
			-ms-transition: .3s;
			-o-transition: .3s;
		}
		.header__burger .line::after,
		.header__burger .line::before {
		content: "";
		width: 100%;
		position: absolute;
		left: 0;
		}
		.header__burger .line::before {
		top: 0.75rem;
		}
		.header__burger .line::after {
		top: -0.75rem;
		}
		.header__burger .line {
			width: 90%;
			position: relative;
		}
		.header__burger.active .line {
		background-color: transparent;
		}
		.header__burger.active .line::after,
		.header__burger.active .line::before {
			top: 0;
		}
		.header__burger.active .line::after {
			transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
		}
		.header__burger.active .line::before { 
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
		}
	
	}
	@media (max-width: 482px) {
	.header__phone {
	display: none;
	}
	.banner__maintitle {
	font-size: 2.5rem;
	margin: 0 0 1rem 0;
	}
	.banner__subtitle {
	font-size: 1.2rem;
	margin: 0 0 3rem 0;
	}
	.header {
	margin: 0 0 1rem 0;
	}
	.header__burger {
	display: block;
	}
	}