@import url(./nullstyle.css);
body {
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
}
:root {
  --yellow: #FED100;
  --gray: #333333;
  --red: #ff352b;
  --orange: #f58b00;
  --white: #ffffff;
  --black: #030303;
  --card-border: #EBEBEB;
}
.banner {
/* menu */
background-color: var(--yellow);
}
.container {
max-width: 75rem;
margin: 0 auto;
padding: 0 1rem;
}
.header {
display: flex;
justify-content: space-between;
margin: 0 0 6rem 0;
align-items: center;
height: 4rem;
}
.header__logo {
/* MOVEE */
font-weight: 37rem;
font-size: 2rem;
line-height: 2.5rem;
color: var(--gray);
}
.header__logo:hover{ 
color: var(--gray);
text-decoration:underline;
font-weight: bold;
cursor: pointer;
}
.header__menu {
display: flex;
gap: 2rem;
}
.header__link:hover{
color: var(--red);
cursor: pointer;
}
.header__phone {
font-weight: 37rem;
font-size: 1.5rem;
line-height: 1.8rem;
color: var(--gray);
text-decoration: underline;
cursor: pointer;
}
.header__phone:hover {
color: var(--red);
}
.header__burger {
width: 2rem;
height: 0.125rem;
background-color: var(--gray);
position: relative;
cursor: pointer;
display: none;
}
.header__burger::before {
content: "";
position: absolute;
top: 0.5rem;
width: 2rem;
height: 0.125rem;
background-color: var(--gray);
cursor: pointer;
}
.header__burger::after {
content: "";
position: absolute;
bottom: 0.5rem;
width: 2rem;
height: 0.125rem;
background-color: var(--gray);
cursor: pointer;
}
.banner__content {
display: flex;
}
.banner__column{
flex: 0 1 50%;
}
.banner__maintitle {
font-weight: bold;
font-size: 4.3rem;
line-height: 105.4%;
color: var(--gray); 
margin: 0 0 1.7rem 0;
max-width: 30rem;
}
.banner__subtitle {
font-size: 2rem;
line-height: 2.3rem;
color: var(--gray);
margin: 0 0 3rem 0;
}
.banner__buttom {
display: inline-block;
background-color: var(--red);
padding: 1rem 3rem;
margin: 0 0 3rem 0;
cursor: pointer;
color: var(--white);
}
.banner__buttom:hover {
 box-shadow: 0 0 4rem var(--white);
}
.banner__icons {
display: flex;
align-items: center;
gap: 2.5rem;
}
.banner__icon {
display: flex;
align-items: center;
gap: 1rem;
}
.icons__text {
display: flex;
gap: 0.5rem;
align-items: center;
}
.banner__man {
margin: -5rem 0 0 0;
max-width: 35rem;
}
.banner__img {
width: 100%;
height: 100%;
}
@media (max-width: 1050px) {
  .banner__icons {
    display: block;
  }
  .banner__icon {
    margin: 0 0 32px 0;
  }
}
@media (max-width: 915px) {
  .banner__maintitle {
    font-size: 56px;
    margin: 0 0 24px 0;
  }
  .banner__subtitle {
    font-size: 24px;
    margin: 0 0 48px 0;
  }
}
@media (max-width: 820px) {
  .banner__content {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .header {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 482px) {
  .header__phone {
    display: none;
  }
  .banner__maintitle {
    font-size: 40px;
    margin: 0 0 16px 0;
  }
  .banner__subtitle {
    font-size: 20px;
    margin: 0 0 48px 0;
  }
  .header {
    margin: 0 0 16px 0;
  }
  .header__burger {
    display: block;
  }
}

.steps {
background-color: var(--white);
}
.steps__container {
max-width: 67rem;
padding: 6rem 1rem 0 1rem;
margin: 0 auto;
}
.steps__content {
display: flex;  
flex-wrap: wrap;
margin: 0 -1rem;
}
.steps__maintitle {
text-align: center;
font-weight: 600;
font-size: 2rem;
line-height: 2rem;
padding:  6rem 0 0 0;
}
.steps__column {
flex: 0 1 50%;
margin: 0 0 3rem 0;
display: flex;
padding: 0 1rem;
}
@media (max-width: 900px){
.steps__column {
flex: 0 0 100%;
}
.steps__text {
display: none;
}
.steps__container {
flex-wrap: wrap;
}
}
.steps__number {
font-weight: 300;
font-size: 3rem;
line-height: 3rem;
text-shadow:1px 1px 1px var(--yellow);
width: 6rem;
flex: 0 0 6rem;
}
.steps__subtitle {
font-weight: 600;
font-size: 1.3rem;
line-height: 1.5rem;
margin: 0.3rem 0 1rem 0;
}
.steps__text {
font-size: 1rem;
line-height: 1.3rem;
padding: 0 1rem 0 0;
}
@media (max-width: 482px) {
.steps__number {
display: block;
}
.steps__subtitle {
font-size: 1rem;
align-items: center;
}
.steps__column {
  flex: 0 0 100%;
}
.steps__container {
 flex-wrap: wrap;
}
}

.price {
background-color: var(--white);
}
.price__title {
text-align: center;
font-weight: 600;
font-size: 2rem;
line-height: 2.5rem;
padding: 6rem 0 0 0;
}
.price__subtitle {
text-align: center;
font-weight: 600;
font-size: 1.5rem;
line-height: 2rem;
padding: 1.5rem 0 0 0;
}
.price__container {
max-width: 75rem;
padding: 5rem 1rem 0 1rem;
margin: 0 auto;
display: flex;
}
.price__card {
margin: 0 0 3rem 0;
border: 1px solid var(--card-border);
box-sizing: border-box;
flex: 0 1 33.33%;
display: flex;
flex-direction: column;
justify-content: center;
}
.price__card:hover {
border: 1px solid var(--yellow);
}
.price__card_main {
margin: 0 2rem 3rem 2rem;
border: 1px solid var(--card-border);
box-sizing: border-box; 
flex: 0 1 33.33%;
display: flex;
flex-direction: column;
justify-content: center;
}
.price__card_main:hover {
border: 1px solid var(--yellow);
}
.price__card_title {
text-align: center;
padding: 5rem 0 0 0;
font-weight: 600;
font-size: 1.5rem;
line-height: 2rem;
}
.price__card_link {
font-size: 1rem;
line-height: 1.3rem;
text-align: center;
padding: 4rem 0 1.5rem 0;
}
.price__link {
padding: 0 0 3rem 0;
}
.price__card_sum {
text-align: center;
font-weight: 600;
font-size: 2rem;
line-height: 2.5rem;
padding: 0 0 0 0;
justify-content: center;;
}
.price__card_buttom {
padding: 1rem 5rem;
font-weight: 500;
font-size: 1.3rem;
line-height: 1.5rem;
display: flex;
background-color: var(--yellow);
cursor: pointer;
color: var(--black);
justify-content: center;
margin: 3rem auto;
}
.price__allprice {
display: none;
}
@media (max-width: 820px) {
  .price {
    background-color: var(--white);
    padding-bottom: 8rem;
  }
  .price__container {
    padding-top: 0;
    display: block;
    text-align: center;
  }
  .price__card {
    border: none;
    display: none;
  }
  .price__card_main {
    margin-bottom: 0;
    border: none;
  }
  .price__allprice {
    margin: 0 auto;
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    background: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid var(--gray);
  }
}
@media (max-width: 480px) {
  .price {
    padding-bottom: 8rem;
    padding-bottom: 2rem;
  }
  .price__title {
    padding-top: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .price__subtitle {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .price__card_title {
    padding-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .price__card {
    border: none;
    display: none;
  }
  .price__allprice {
    font-size: 1rem;
    line-height: 1.3rem;
  }
  .price__card_link {
    padding-top: 1.5rem;
  }
  .price__link {
    padding-bottom: 1rem;
  }
  .price__card_buttom {
    margin-bottom: 1.3rem;
  }
}

.autopark {
background-color: var(--white);
}
.autopark__title {
text-align: center;
font-weight: 600;
font-size: 2rem;
line-height: 2.5rem;
padding: 6rem 0 0 0;
}
.autopark__subtitle {
text-align: center;
font-weight: 600;
font-size: 1.5rem;
line-height: 2rem;
padding: 1rem 0 0 0;
}
.autopark__container {
max-width: 75rem;
padding: 3rem 1rem 0 1rem;
margin: 0 auto; 
}
.autopark__menu {
display: flex;
gap: 1rem;
max-width:40rem;
margin: 0 auto;
}
.autopark__link {
border: 1px solid var(--card-border);
padding: 1rem 4rem;
margin: 4rem auto;
font-size: 1.3rem;
line-height: 1.5rem;
cursor: pointer;
background: var(--white);
}
.autopark__link:hover {
border: 1px solid var(--yellow);
}
.autopark__content {
display: flex;
padding: 3.5rem 0 0 0;
}
.autopark__column {
padding: 0 0 0 6rem;
max-width: 40rem;
}
.autopark__maintext {
font-size: 1.5rem;
line-height: 2rem;
font-weight: 600;
}
.autopark__text_column {
display: flex;
margin: 2.3rem 0;
gap: 1rem;
}
.autopark__text {
font-size: 1rem; 
line-height: 1.3rem;
}
.autopark_buttom {
padding: 1rem 5rem;
font-weight: 500;
font-size: 1.3rem;
line-height: 1.5rem;
display: flex;
background-color: var(--yellow);
cursor: pointer;
color: var(--black);
justify-content: center;
margin: 0 0 3rem 0;
}
.autopark__img {
width: 100%;
height: 100%;
}
.autopark__end {
display: none;
}
.autopark_buttom_end {
display: none; 
}
@media (max-width: 1050px) {
.autopark__column {
display: block;
margin: 0 auto;
padding: 0;
}
}
@media (max-width: 920px) {
.autopark {
display: block;
}
.autopark__column{
margin: 0 0 2rem 0;
}
}
 @media (max-width: 820px) {
.autopark__maintext{
display: none;
}
.autopark__text_column {
 display: none;
}
.autopark__column {
margin: 0 auto;
}
.autopark__column:first-child {
display: none;
} 
.autopark_buttom {
display: none;
}
.autopark__end {
justify-content: center;
margin: 1.5rem auto;
display: flex;
font-weight: 400;
font-size: 1rem;
line-height: 1rem;
}
.autopark_buttom_end {
padding: 1rem 5rem;
font-weight: 500;
font-size: 1.3rem;
line-height: 1.5rem;
display: flex;
background-color: var(--yellow);
cursor: pointer;
color: var(--black);
justify-content: center;
margin: 2rem auto;
max-width: 18rem;
}
.autopark__link {
border: none;
gap: 1.5rem;
font-size: 1.3rem;
line-height: 1.5rem;
padding: 0 0 0 0;
margin: 0 auto;
}
.autopark__subtitle {
display: none;
}
.points {
max-width: 7rem;
margin: 0 auto;
display: flex;
gap: 1rem;
}
.point {
list-style-type: none;
width: 0.5rem;
height: 0.5rem;
background: var(--black);
border-radius: 50%;
position: relative;
}
.point:hover:before {
content: '';
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
width: 1.2rem;
height: 1.2rem;
border: 2px solid var(--yellow);
border-radius: 50%;
}
}
@media (max-width: 480px) {
.autopark__link {
border: none;
padding: 0 auto;
margin:0 auto;
font-size: 1rem;
line-height: 1.5rem;
}
.autopark__menu {
margin: 0 auto;
}
}

.reviews {
background-color: var(--yellow);
padding-bottom: 3rem;
}
.reviews__title {
text-align: center;
font-weight: 600;
font-size: 2rem;
line-height: 2.5rem;
padding: 6rem 0 0 0;
}
.reviews__container {
max-width: 78rem;
padding: 4rem 1rem 0 1rem;
margin: 0 auto;
display: flex;
}
.reviews__card {
flex: 0 1 33.33%;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 0 1.3rem 0;
}
.reviews__card_main {
flex: 0 1 33.33%;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 0 1.3rem 0;
}
.reviews__card_title {
font-size: 1.3rem;
line-height: 1.5rem;
font-weight: 600;
}
.reviews__card_subtitle {
font-weight: 400;
font-size: 1rem;
line-height: 1.3rem;
padding: 0.6rem 0 0 0;
gap: 0.5rem;
display: flex;
align-items: center;
}
.reviews__card_stars {
max-width: 5rem;
}
.reviews__card_text {
font-weight: 400;
font-size: 1rem;
line-height: 1.3rem;
padding: 1rem 0 0 0;
}
.reviews__link {
background-color: var(--yellow);
padding: 1rem 0 0 0;
font-weight: 400;
font-size: 1rem;
line-height: 1.3rem;
text-decoration: underline;
display: flex;
}
.reviews_button {
cursor: pointer;
font-weight: 500;
font-size: 1.3rem;
line-height: 1.5rem;
padding: 1rem 4rem;
border: 1px solid var(--black);
text-align: center;
margin: 4rem auto;
background: none;
display: flex;
flex-direction: column;
justify-content: center;
}

@media (max-width: 820px) {
.reviews__container {
display: block;
text-align: start;
}
.reviews__card {
display: none;
}
}



