@import url(./nullstyle.css);
body {
font-family: 'Montserrat', sans-serif;
}
:root {
  --yellow: #FED100;
  --gray: #333333;
  --red: #ff352b;
  --orange: #f58b00;
  --white: #f8f8f8;
}
.banner {
/* menu */
background-color: var(--yellow);
}
.container {
max-width: 75rem;
margin: 0 auto;
padding: 0 1rem;
}
.header {
display: flex;
justify-content: space-between;
margin: 0 0 6rem 0;
align-items: center;
height: 4rem;
}
.header_logo {
/* MOVEE */
font-weight: 37rem;
font-size: 2rem;
line-height: 2.5rem;
color: var(--gray);
}
.header_logo:hover{ 
color: var(--gray);
text-decoration:underline;
font-weight: bold;
cursor: pointer;
}
.header_menu {
display: flex;
gap: 2rem;
}
.header_link:hover{
color: var(--red);
cursor: pointer;
}
.header_phone {
font-weight: 37rem;
font-size: 1.5rem;
line-height: 1.8rem;
color: var(--gray);
text-decoration: underline;
cursor: pointer;
}
.header_phone:hover {
color: var(--red);
}
.header_burger {
  width: 2rem;
  height: 0.125rem;
  background-color: var(--gray);
  position: relative;
  cursor: pointer;
  display: none;
}
.header_burger::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 2rem;
  height: 0.125rem;
  background-color: var(--gray);
  cursor: pointer;
}
.header_burger::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  width: 2rem;
  height: 0.125rem;
  background-color: var(--gray);
  cursor: pointer;
}
.banner_content {
display: flex;
}
.banner_column{
flex: 0 1 50%;
}
.banner_maintitle {
font-weight: bold;
font-size: 4.3rem;
line-height: 105.4%;
color: var(--gray); 
margin: 0 0 1.7rem 0;
max-width: 30rem;
}
.banner_subtitle {
font-size: 2rem;
line-height: 2.3rem;
color: var(--gray);
margin: 0 0 3rem 0;
}
.banner_buttom {
display: inline-block;
background-color: var(--red);
padding: 1rem 3rem;
margin: 0 0 3rem 0;
cursor: pointer;
color: var(--white);
}
.banner_buttom:hover {
 box-shadow: 0 0 4rem var(--white);
}
.banner_icons {
display: flex;
align-items: center;
gap: 2.5rem;
}
.banner_icon {
display: flex;
align-items: center;
gap: 1rem;
}
.icons_text {
display: flex;
gap: 0.5rem;
align-items: center;
}
.banner_man {
margin: -5rem 0 0 0;
max-width: 35rem;
}
.banner_img {
width: 100%;
height: 100%;
}
@media (max-width: 1050px) {
  .banner_icons {
    display: block;
  }
  .banner_icon {
    margin: 0 0 32px 0;
  }
}
@media (max-width: 915px) {
  .banner_maintitle {
    font-size: 56px;
    margin: 0 0 24px 0;
  }
  .banner_subtitle {
    font-size: 24px;
    margin: 0 0 48px 0;
  }
}
@media (max-width: 820px) {
  .banner_content {
    display: block;
  }
  .header_menu {
    display: none;
  }
  .header {
    margin: 0 0 40px 0;
  }
}
@media (max-width: 482px) {
  .header_phone {
    display: none;
  }
  .banner_maintitle {
    font-size: 40px;
    margin: 0 0 1rem 0;
  }
  .banner_subtitle {
    font-size: 20px;
    margin: 0 0 48px 0;
  }
  .header {
    margin: 0 0 16px 0;
  }
  .header_burger {
    display: block;
  }
}
