@import url(./nullstyle.css);
@import url(./banner.css);
@import url(./steps.css);
@import url(./price.css);
@import url(./autopark.css);
@import url(./reviews.css);
@import url(./order.css);
@import url(./map.css);
@import url(./footer.css);
body {
font-family: 'Montserrat', sans-serif;
font-size: 1rem;
}
:root {
--yellow: #FED100;
--gray: #333333;
--red: #ff352b;
--orange: #f58b00;
--white: #ffffff;
--black: #030303;
--card-border: #EBEBEB;
--blue: #092cf3;
}

