.reviews {
	background-color: var(--yellow);
	padding-bottom: 3rem;
	}
	.reviews__title {
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
	line-height: 2.5rem;
	padding: 6rem 0 0 0;
	}
	.reviews__container {
	max-width: 78rem;
	padding: 4rem 1rem 0 1rem;
	margin: 0 auto;
	display: flex;
	}
	.reviews__card {
	flex: 0 1 33.33%;
	display: flex;
	flex-direction: column;
	margin: 0 0 1.3rem 0;
	}
	.reviews__card_main {
	flex: 0 1 33.33%;
	display: flex;
	flex-direction: column;
	margin: 0 0 1.3rem 0;
	}
	.reviews__card_title {
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: 600;
	}
	.reviews__card_subtitle {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.3rem;
	padding: 0.6rem 0 0 0;
	gap: 0.5rem;
	display: flex;
	align-items: center;
	}
	.reviews__card_stars {
	max-width: 5rem;
	}
	.reviews__card_text {
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.3rem;
	padding: 1rem 0 0 0;
	width: 18rem;
	overflow: hidden;
	}
	.reviews__link {
	background-color: var(--yellow);
	padding: 1rem 0;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.3rem;
	text-decoration: underline;
	display: flex;
	color: var(--blue);
	cursor: pointer;
	}
	.reviews_button {
	cursor: pointer;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.5rem;
	padding: 1rem 4rem;
	border: 1px solid var(--black);
	text-align: center;
	margin: 4rem auto;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	}
	.reviews_button:hover {
	background-color: var(--white);
	border: none;
	}
	@media (max-width: 920px) {
	.reviews {
	margin-top: 2rem;
	margin-bottom: 0;
	}
	.reviews__container {
	display: block;
	}
	.reviews_button {
	margin: 1rem auto;
	}
	}
	@media (max-width: 820px) {
	.reviews__container {
	display: block;
	padding-top: 2rem;
	}
	.reviews__title {
	font-size: 1.2rem;
	line-height: 1.5rem;
	padding-top: 3rem;
	padding-bottom: 0;
	}
	.reviews__card {
	display: none;
	}
	.reviews__card_title {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.2rem;
	}
	.reviews__card_main,
	.reviews__card_subtitle,
	.reviews__link {
	text-align: center;
	justify-content: center;
	}
.reviews__card_text {
	margin: 0 auto;
	text-align: start;
	}
	}
	